body {
    background-color: rgb(243, 242, 242);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(139, 83, 139);
    height: 30vh;
    width: 100vw;
    position: relative;
    top: 0;
    padding-top: 20px;
    transition: height 2s;
}

.headline {
    color: rgb(243, 242, 242);
    font-size: 3em;
    margin: 0 20px;
    text-align: left;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s linear, visibility 1s, font-size 1s, text-align 2s;
    font-family: 'Wendy One', sans-serif;
}

.sub-heading {
    color: rgb(243, 242, 242);
    font-size: 1.2em;
    margin: 0 20px;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s linear, visibility 1s, font-size 1s, text-align 2s;
    font-family: 'Lato', sans-serif;
}

.intro-message {
    width: 80%;
    height: fit-content;
    color: rgb(128, 127, 127);
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: 2.5em;
    padding: 1em;
    text-align: left;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(143, 143, 143);
}

.intro-message h3 {
    font-size: 1.5em;
    margin: .5em auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(71, 32, 83);
    font-style: bold;
}

.intro-message h4 {
    font-size: 1em;
    margin: 0 auto 1em;
    font-family: 'Lato', sans-serif;
}

.quiz-options {
    margin: 5em auto 1em;
    width: 80%
}

.quiz-types, .choices-list {
    margin: auto;
    list-style: none;
    padding: 0;
    font-size: 1.5em;
} 

.type, .choice {
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 1em 0;
    margin: 1em auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(143, 143, 143);
}

.quiz-question {
    display: none;
    padding: 30px 20px;
    margin: 0 auto 2em;
    width: 80%;
    background-color: white;
    font-size: 2em;
    box-shadow: 5px 5px 10px black; 
    border-radius: 5px;
    font-family: 'Wendy One', sans-serif;
    color: rgb(92, 30, 92);
    text-align: center;
}

.purple-dropdown {
    height: 100vh;
    display: block;
}

.headline-vanish {
    opacity: 0;
    text-align: right;
    visibility: hidden;
    font-size: 1em;
}

.result {
    display: none;
    width: 80vw;
    height: 75vh;
    margin: auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.quiz-choices {
    display: none;
}

.container-display { 
    display: block;
    width: 80vw;
    margin: 2em auto
}

.choice {
    box-shadow: 5px 5px 10px black;
    color: rgb(90, 77, 90);
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.type {
    font-family: 'Wendy One', sans-serif;
    color: rgb(90, 77, 90);
}

.continue {
    width: 60%;
    margin: auto auto 1em;
    padding: 10px;
    font-size: 2em;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(143, 143, 143);
    background-color: rgb(92, 30, 92);
    font-family: 'Wendy One', sans-serif;
}

.result-headline {
    font-size: 4em;
    color: rgb(92, 30, 92);
    font-family: 'Wendy One', sans-serif;
}

.result-text {
    font-size: 2em;
    margin-bottom: 5em;
    color: rgb(92, 92, 92);
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-height: 700px) {

    .intro-message h3 {
        font-size: 1.5em;
    }

    .intro-message h4 {
        font-size: .8em;
    }

    .type, .choice {
        padding: .8em 0;
    }
}

@media only screen and (min-width: 600px)  {
    .intro-message h3 {
        font-size: 3.2em;
    }

    .intro-message h4 {
        font-size: 1.8em;
    }

    .type, .choice {
        width: 45%;
        padding: 4em 0em;
        align-content: center;
        display: inline-block;
        margin: 0 2% 5%
    }
}


@media only screen and (min-width: 800px) and (max-width: 1370px) {
    header {
        height: 35vh;
    }

    .headline {
        text-align: center; 
    }

    .sub-heading {
        text-align: center;
    }

    .intro-message {
        width: 60%;
        text-align: center;
        top: 2em;
    }
    
    .intro-message h3 {
        font-size: 1.7em;
    }

    .intro-message h4 {
        font-size: 1.1em;
    }
    .quiz-options, .quiz-choices {
        margin-top: 8em;
        width: 60%
    }

    .type, .choice {
        width: 45%;
        padding:2em 0em;
        font-size: 1em;
        align-content: center;
        display: inline-block;
        margin: 0 2% 5%
    }

    .quiz-question {
        width: 60%
    }

    .result {
        width: 50vw
    }
}

@media only screen and (min-width: 1371px) {
    .intro-message {
        width: 60%;
        text-align: center;
    }
    
    .headline {
        text-align: center; 
    }

    .sub-heading {
        text-align: center;
    }

    .intro-message h3 {
        font-size: 2.5em;
    }

    .intro-message h4 {
        font-size: 1.8em;
    }
    .quiz-options, .quiz-choices {
        margin-top: 8em;
        width: 60%
    }

    .type, .choice {
        width: 45%;
        padding:2em 0em;
        font-size: 1.5em;
        align-content: center;
        display: inline-block;
        margin: 0 2% 5%
    }

    .quiz-question {
        width: 60%
    }

    .result {
        width: 50vw
    }
}